body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 65px;
}

.first-section {
    text-align: center;
    height: 600px;
    width: 100%;
    padding-top: 250px;
    color: white;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph {
    margin-bottom: 50px;
    font-size: 18px;
}

.btn {
    padding: 20px 40px;
    border-radius: 10px;
    background: #FF5959;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.second-section {
    text-align: center;
    margin-top: 130px;
}

#paragraph {
    margin-bottom: 50px;
    color: #707070;
    font-size: 18px;
}

.flexible {
    display: flex;
    justify-content: center;
}

.grey {
    padding: 40px 15px;
    background: #FAFAFA;
    margin: 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

.orange {
    padding: 40px 15px;
    background: #FFEEEE;
    margin: 15px;
    border: 2px solid #FF5959;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #B3B3B3;
    width: 50%;
    color: #B3B3B3;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.third-section {
    text-align: center;
    margin-top: 160px;
}

.donate-plan {
    display: flex;
    margin-left: 10%;
    padding-right: 200px;
    text-align: left;

}

#food {
    padding: 80px 30px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 15px;
    margin-right: 40px;
}

#shelter {
    padding: 80px 30px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 15px;
    margin-right: 40px;
}

#education {
    padding: 80px 30px;
    border-radius: 15px;
    margin-right: 40px;
    background: #FFF4D6;
}

.fourth-section {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 130px;
    background-color: #fafafa;
}

#non-profit {
    padding-top: 50px;
}

#fund,
#donors,
#countries {
    padding: 80px 30px;
    margin-right: 40px;
}

.email-section {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 130px;
}

#para {
    margin-bottom: 50px;
    color: #707070;
    font-size: 18px;
}

.email-box {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 1000px;
    background-color: #FFF4D6;
    margin-left: 23.5%;
    padding-top: 50px;
}

#email {
    border: 0;
    background: #D9D9D9;
    height: 50px;
    width: 400px;
    margin-top: 80px;
    border-radius: 5px;
    text-align: justify;
    font-size: 25px;
}

.subscribe-btn {
    padding: 15px 40px;
    border-radius: 10px;
    background: #FF5959;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#subs {
    margin-top: 93px;
}

footer {
    width: 100%;
    height: 140px;
    background: #121212;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

#be-humble {
    color: red;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}