body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 65px;
}

.first-section {
    text-align: center;
    height: 600px;
    width: 100%;
    padding-top: 250px;
    color: white;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph {
    margin-bottom: 50px;
    font-size: 18px;
}

.btn {
    padding: 20px 40px;
    border-radius: 10px;
    background: #FF5959;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.second-section {
    text-align: center;
    margin-top: 130px;
}

#paragraph {
    margin-bottom: 50px;
    color: #707070;
    font-size: 18px;
}

.flexible {
    display: flex;
    margin-left: 30%;
}

.grey {
    padding: 40px 15px;
    background: #FAFAFA;
    margin: 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

.orange {
    padding: 40px 15px;
    background: #FFEEEE;
    margin: 15px;
    border: 2px solid #FF5959;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #B3B3B3;
    width: 50%;
    color: #B3B3B3;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 50px;
}